/**
 * self define css
 */

code.cursor {
    color:white;
    background-color:#323462;
    padding: 0;
    -webkit-border-radius: inherit;
}

table th, table td {
    line-height: inherit;
}

table.table-multi-text th, table.table-multi-text td {
    line-height: normal;
}

.red {
    color: red;
}

.green {
    color: green;
}

